.header {
  align-self: center;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #282c34;
}

.header p, .header button {
  grid-row: 1 / 1;
}

.header p {
  grid-column: 1/-1;
}

.header button {
  border-radius: 5rem;
  padding: .5rem 2rem 0 2rem;
  background: transparent;
  justify-self: end;
  grid-column: 2/2;
}