.easy {
  aspect-ratio: 1/1;
  display: grid;
  gap: var(--spacing);
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}


.normal {
  display: grid;
  gap: var(--spacing);
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.hard {
  display: grid;
  gap: var(--spacing);
  justify-items: center;
  grid-template-columns: repeat(6, 1fr);
}


@media screen and (orientation: landscape) {
  .normal, .hard {
    grid-template-columns: repeat(8, 1fr);
  }
}
