.gameSettingsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gameSettingsHeader button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: transparent;
}

.form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  font-size: 1.8rem;
  margin: 2rem 1rem;
  grid-gap: 1rem;
  row-gap: 2rem;
  padding: 1rem;
}

.fieldset {
  border: 0 none;
  display: contents;
}

.form legend, .form label {
  justify-self: end;
}

.fieldset div {
  display: flex;
  justify-content: space-between;
}

.form select {
  font-size: 1.5rem;
}