:root {
  --cardRadius: 3rem;
}

.image-card {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  perspective: 1000px;
  background-color: transparent;
}

.inner-card {
  display: flex;
  transition: transform 0.2s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  border-radius: var(--cardRadius);
}
.card-front {
  position: absolute;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #62bde5;
}

.card-back img,
.card-front img {
  max-width: 100%;
  height: auto;
  border-radius: var(--cardRadius);
}

/* Actions applied by JS */
.is-flipped .inner-card {
  transform: rotateY(180deg);
  cursor: default;
}

.is-matched {
  opacity: 0;
}