.newGameMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #282c34;
  margin: 2rem;
  border-radius: 2rem;
}

.newGameMenu button {
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin: 2rem 0 3rem 0;
  font-size: 2rem;
}

.newGameMenu footer {
  margin-top: 3rem;
  padding: 2rem;
  font-size: 1.2rem;
}

.newGameMenu footer p {
  padding: 0.5rem;
}