.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  font-size: 2rem;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.game {
  align-self: center;
  max-height: 95vh;
}

.game--easy {
  aspect-ratio: 1/1;
}

.game--normal {
  aspect-ratio: 1/2;
}

.game--hard {
  aspect-ratio: 3/4;
}

@media screen and (orientation: landscape) {
  .game--normal {
    aspect-ratio: 2/1;
  }

  .game--hard {
    aspect-ratio: 4/3;
  }
}

a:link {
  color: #62bde5;
}

a:visited {
  color: darkorchid;
}